.game-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cell-div {
  width: 20px;
  height: 20px;
}
